<form (ngSubmit)=save(theform) #theform="ngForm" novalidate="novalidate">
  <h2>{{definition.label}}</h2>
  <p>{{definition.des}}</p>
  <p-tabView>
    <p-tabPanel *ngFor="let tab of definition.tabs" header="{{tab.name}}">
      <div class="form-group row has-danger" *ngFor="let control of tab.controls">
        <label for="{{control.name}}" class="col-sm-2 col-form-label">{{control.title}}</label>
        <div class="col-sm-10">
          <input type="email" *ngIf="control.type=='eml'" ngModel name="{{control.name}}" class="form-control" placeholder="{{control.des}}"
            [required]="control.req" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">

          <input type="number" *ngIf="control.type=='float'" ngModel name="{{control.name}}" [required]="control.req" class="form-control"
            placeholder="{{control.des}}">

          <input type="number" *ngIf="control.type=='int'" ngModel name="{{control.name}}" [required]="control.req" class="form-control"
            placeholder="{{control.des}}">


          <input type="text" *ngIf="control.type=='str'" ngModel name="{{control.name}}" [required]="control.req" class="form-control"
            placeholder="{{control.des}}">

          <div class="form-control" *ngIf="control.type=='bool'">
            <input type="checkbox" name="{{control.name}}" ngModel> {{control.des}}
          </div>

          <select *ngIf="control.type=='elist'" name="{{control.name}}" [required]="control.req" ngModel #controlmodel="ngModel" class="form-control">
            <option *ngFor="let opc of control.list" value="{{opc}}">{{opc}}</option>
          </select>
          
          <div *ngIf="theform.controls[control.name]?.errors?.required" >
            campo obligatorio
          </div>

          
          
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>

  <button type="submit " class="btn btn-success ">Aceptar</button>
  <pre>
  {{salida }}
</pre>
</form>